html, body{
    height: 100%;
    background: linear-gradient(90deg, #0792e2 5.43%, #41deff 150%);
    padding: 0 ;
    margin: 0;
}

h6{
    margin: 0 !important;
}

h4{
    margin: 0 !important;
}

h5{
    margin: 0 !important;
}

.container-usuario{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 12px;
    margin-bottom: 5px;
    height: 60px;
    align-items: center;
    padding-right: 41px;
    gap: 9px;
    background-color: #ffff;
}