.container-reservar-turno {
    background-color: #ffffff;
    display: flex;


    flex-direction: column;
    min-height: 350px;
    height: auto;
    width: 900px;
    border-radius: 20px;
    padding: 35px;
}

.container-selectores-recurso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.container-mostrar-recursos {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: scroll;
    border-top: 1px solid #26262648;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #26262648;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 10px;
}

.container-buttons-navigation {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px
}

.container-buttons-navigation > .btn {
    width: 30%;
}

select {
    background-color: #6f99da;
    color: #fff;
    width: 30%;
    border-radius: 6px;
    border: 0px solid !important;
    height: 30px !important;
}

option {
    background-color: #fff !important;
    color: black !important;
}

thead tbody {
    text-align: center !important;
}

td {
    text-align: center !important;
}

tr {
    text-align: center;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1.5rem;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.month {
    padding: 10px 25px;
    width: 100%;
    background: #0d6efd;
    text-align: center;
    margin-top: 20px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.month .prev {
    float: left;
    padding-top: 10px;
}


.month .next {
    float: right;
    padding-top: 10px;
}


.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom: 1px solid #29292921;
}


.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}



.days button {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px; 
    color: #777;  
    border-radius: 7px;
    padding: 0px;
    border: 0px;
}

/* Highlight the "current" day */
.days button .active {
    color: rgb(18 41 210) !important;
    background-color: #0d6efd;
    width: 100%;
    border-radius: 5px;
}

.dia-mes-anterior{

    color: rgba(119, 119, 119, 0.411) !important;
}

